<section id="room_details">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="vm.room.name"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.rooms.edit({roomId: vm.room._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Name</strong></div>
        <div class="col-md-6" ng-bind="vm.room.name"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Description</strong></div>
        <div class="col-md-6" ng-bind="vm.room.description"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Max Join</strong></div>
        <div class="col-md-6" ng-bind="vm.room.maxJoin"></div>
      </div>
      <div>
        <h3>Danh sach thanh vien</h3>
        
        <table class="list-participant table table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="participant in vm.room.participants track by $index">
              <td>{{$index + 1}}</td>
              <td>{{participant.user.username}}</td>
              <td>{{participant.user.email}}</td>
              <td ng-click="vm.changerole(participant)" class="changerole"><span>{{participant.roles[0]}}</span></td>
              <td><i class="fa fa-times" aria-hidden="true" ng-click="vm.deleteP(participant)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section id="list_user">
  <div class="page-header">
    <div>
      <div>
        <h2>Them thanh vien</h2>
      </div>
      <div style="margin-top: 2em" class="row">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div>
    <a ng-repeat="user in vm.pagedItems" ng-click="vm.addUser(user)" class="list-group-item thanhvien">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
